<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>PDP Reesults</title>

  <!-- bootstraplar core csslar -->
  <link rel="stylesheet" type="text/css" href="../../static/cssDa/bootstrapDa.css" />

  <!-- fontslar style -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../static/https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select -->
  <link rel="stylesheet" href="../../static/https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="../../static/cssDa/font-awesome.minDa.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="../../static/cssDa/styleDa.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../../static/cssDa/responsiveDa.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid header_top_container">
          <a class="navbar-brand " href="index.html"> PDP<span>Results</span> </a>
          <div class="">
            <a href="">
              <i class="" aria-hidden=""></i>
              <span>
              </span>
            </a>
            <a href="">
              <i class="" aria-hidden=""></i>
              <span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand navbar_brand_mobile" href="index.html"> Tro<span>Weld</span> </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                <li class="nav-item">
                  <a class="nav-link" href="../studentspanel/signin.html">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>
                      Kirish
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- portfolio section -->

  <section class="portfolio_section ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Darajanggizni Belgilang
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="filter_box">
          <nav class="owl-filter-bar">
            <a href="../OnlineDarslar/courses.html" class="item" data-owl-filter="*">Beginner</a>
            <a href="../OnlineDarslar/course1.html" class="item" data-owl-filter=".decorative">Elementary</a>
            <a href="../OnlineDarslar/course2.html" class="item" data-owl-filter=".facade">Preintermediate</a>
            <a href="../OnlineDarslar/course3.html" class="item" data-owl-filter=".perforated">Intermediate
            </a>
          </nav>
        </div>
      </div>
    </div>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Proficiency Test</title>
    <link href="../../static/https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container mt-5">
    <div class="text-center">
        <img src="https://img.freepik.com/free-vector/online-testing-banner_107791-3684.jpg" alt="Quiz Image" class="img-fluid mb-4">
        <h1 class="mb-4">TESTNI ISHLANG</h1>
    </div>
    <form id="quiz-form" class="row">
        <!-- Questions will be inserted here by JavaScript -->
    </form>
    <div class="text-center mt-4">
        <button type="button" class="btn btn-group" onclick="submitQuiz()">TEKSHIRISH</button>
    </div>
    <div id="result" class="mt-4 text-center"></div>
</div>
<script src="quiz.js"></script>
</body>
</html>

<style>



    .container {
        padding: 20px;
        border-radius: 10px;
    }

    .start-screen {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 50px;
        border-radius: 10px;
    }

    .start-screen h1, .start-screen h2 {
        color: #121a8e;
    }

    .question-container {
        margin-bottom: 20px;
    }

    .question-image {
        max-width: 100%;
        height: auto;
    }


</style>


<script>

    const questions = [
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: '____ you interested in sport?',
            options: ['- Be', 'Am', 'Is', 'Are'],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'My ____ is a writer and his books are very popular',
            options: ['Aunt', 'Uncle', 'Sister', 'Mother'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Paul is very ____. He’s very good at art.',
            options: ['Honest', 'Friendly', 'Polite', 'Creative'],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'We live in the city centre and our house ____ have a big garden.',
            options: ["Doesn't", "Isn't", "Aren't", "Don't"],
            answer: 0
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'I ____ arrive at school before nine o’clock',
            options: ['Has To ', 'Have To', "Does'nt Have To", "Haven't To"],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'The beach was very crowded ____ Monday.',
            options: ['In', 'On', 'At', 'To'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'You ____ eat all that cake! It isn’t good for you',
            options: ["Don't", 'May Not', "Shouldn't", 'Will Not'],
            answer: 2
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Cathy ____ a game on her computer at the',
            options: ['Plays', 'Is Playing', 'To Play', 'Play'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'There ____ a lot of people outside the school.\n' +
                'What’s the problem?',
            options: ['Are', 'Is', 'Be', 'Am'],
            answer: 0
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: ' ____ you like to come out with us tonight?',
            options: ['Do', 'Would', 'Are', 'Will'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'How ____ time have we got to do this exercise?',
            options: ['Long', 'Many', 'Much', 'Quick'],
            answer: 2
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Turn ____ and you’ll see the museum on the left.',
            options: ['On The Right', 'Rightly', 'By The Right', 'Right'],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Don’t forget to get ____ the bus at Station Road.',
            options: ['Out', 'Off', 'Over', 'Down'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Tom got the ____ marks in the class for his homework.',
            options: ['Worse', 'Worst', 'Baddest', 'Most Bad'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'There wasn’t ____ milk for breakfast this morning\n' +
                'so I had toast and orange juice.',
            options: ['A', 'Some', 'The', 'Any'],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'My sister ____ speak French when she was only\n' +
                'six years old.',
            options: ['Was', 'Should', 'Could', 'Had'],
            answer: 2
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Did you ____ shopping after school yesterday?',
            options: ['Went', 'Goed', 'Going', 'Go'],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'I ____ five emails before school today.',
            options: ['Sent', 'Sended', 'Did Send', 'Was Send'],
            answer: 0
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Our teacher speaks English to us ____ so that we can understand her',
            options: ['Slow', 'Slower', 'More Slow', 'Slowly'],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Quick – get the food inside! It ____ any moment.',
            options: ['Rains', 'Is Raining', 'Is Going To Rain', 'Can Rain'],
            answer: 2
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'I ____ the new Batman film yet. Is it any good?',
            options: [ "Haven't Seen", "Didn't Seen", "Don't See", 'Am Not Seen'],
            answer: 0
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'I hope you ____ a good time at the moment in Greece! Phone soon.',
            options: ['Are Having', 'Have', 'Have Had', 'Had'],
            answer: 0
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'I wanted to see Harry. How long ago ____ ?',
            options: ['He Left', 'Has He Left', 'Did He Leave', 'Could He Leave'],
            answer: 2
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Do students in your country have to stand ____ when the teacher arrives?',
            options: ['On', 'At', 'In', 'Up'],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Which train ____ for when I saw you on the platform on Sunday?',
            options: ['Did You Wait', 'Were You Waiting', 'Have You Waited', 'Are You Waiting'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'You ____ hurry as we’ve still got twenty minutes before the film starts.',
            options: ["Mustn't", "Can't", 'May Not', "Needn't"],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: ' That car is ____ dangerous to drive.',
            options: ['Too', 'Enough', 'Not Enough', 'The Worst'],
            answer: 0
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'I ____ you in the café at about 4.30 and we can discuss our plans then, OK?',
            options: ['IL See', 'Am Going To See', 'Am Seeing', 'See'],
            answer: 0
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: ' My father has been a pilot ____ twenty years and he still loves his job',
            options: ['Since', 'For', 'Until', 'By'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: "I really enjoy ____ new languages and I’d like to' learn Italian soon.",
            options: ['To Learn', 'Learning', 'Learn', 'Learned'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'If we ____ in the countryside, we’d have much better views than we do now.',
            options: ['Lived', 'Were Live', 'Would Live', 'Live'],
            answer: 0
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'I wish Joe ____ to Hawaii on holiday. They’re talking about an eruption there on the news.',
            options: ["Doesn't Go ", "Didn't  Go", "Hasn't Gone", "Hadn't Gone"],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Could I possibly ____ some money for the bus fare home? I’ve lost my bag.',
            options: ["Lend", "Owe", "Borrow", "Need"],
            answer: 2
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Sam asked me if I ____ a lift home after the concert.',
            options: ['Had Wanted', 'Wanted', 'Would Want', 'Want'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: ' People say that an avalanche ____ by loud noises in the area but I don’t know if that’s true.',
            options: ['Causes', 'Has Caused', 'Is Causing', 'Is Caused'],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Look at the news! Three cars ____ in a bad accident on the motorway at Dartford.',
            options: ['Are Involing', 'Involve', 'Have Involved', 'Have Been Involved'],
            answer: 3
        },

        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'I ____ for arriving so late but I was caught up in a traffic jam in the town centre.',
            options: ['Sorry', 'Regret', 'Apalogise', 'Afraid'],
            answer: 2
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Look out for a petrol station because I think we’re going to run ____ of petrol soon.',
            options: ['Down', 'Out', 'Off', 'Through'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'It was great to see you at the party. I didn’t realize how long ____ since we last met.',
            options: ['It Had Been', 'It Was Been', 'It Was Being', 'It Is Been'],
            answer: 0
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'The girls ____ to each other since the film started.',
            options: ['Talked', 'Were Talking', 'Are Talking', 'Have Been Talking'],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'By the time I hand in this project, I ____ on it for three weeks!',
            options: ['LL Be Working', 'LL Have Been Working', 'Have Worked', 'LL Work'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Jonah’s just fallen down the steps outside and there’s ____ everywhere.',
            options: ['Bone', 'Blood', 'Skin', 'Cut'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'I really wish people ____ dump litter in front of our house. We have to clear it up every day.',
            options: ["Won't", "Wouldn't", "Haven't", "Don't"],
            answer: 1
        },

        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'You should be very proud ____ what you’ve achieved over the last year.',
            options: ['Of', 'On', 'To', 'For'],
            answer: 0
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: ' ____ people know this but our school is being inspected today.',
            options: ['Little', 'Any', 'None', 'Few'],
            answer: 3
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'That’s the office ____ my dad works.',
            options: ['Who', 'Where', 'That', 'Which'],
            answer: 1
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'The studio lights went out while the footballer ____ .',
            options: ['Had Been Interviewed', 'Was Interviewed', 'Was Being Interviewed', 'Was Interviewing'],
            answer: 2
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'Last Tuesday the company told Ruth that they’d emailed her the job details the ____ day.',
            options: ['Last', 'Before', 'Previous', 'Earlier'],
            answer: 2
        },
        {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'I must remember ____ Ed to take notes for me while I’m away next week.',
            options: ['Ask', 'To  Ask', 'Asking', 'For Asking'],
            answer: 1
        },
         {
            image: 'https://giglioco.com/wp-content/uploads/2016/04/question-mark-1019820_960_720-150x150.jpg',
            question: 'If I’d gone to the sales yesterday, I ____ one of those cheap bags before they sold out.',
            options: ['Could Have Bought', 'Had Bought', 'Would Buy', 'Bought'],
            answer: 0
        },

        // Add more questions up to 30 here
    ];

    function loadQuestions() {
        const form = document.getElementById('quiz-form');
        questions.forEach((q, index) => {
            const questionContainer = document.createElement('div');
            questionContainer.className = 'question-container col-md-6';

            const questionImage = document.createElement('img');
            questionImage.src = q.image;
            questionImage.alt = `Question ${index + 1} Image`;
            questionImage.className = 'question-image mb-2';

            const questionTitle = document.createElement('h5');
            questionTitle.innerText = `Question ${index + 1}: ${q.question}`;

            const optionsContainer = document.createElement('div');
            optionsContainer.className = 'form-group';

            q.options.forEach((option, i) => {
                const optionDiv = document.createElement('div');
                optionDiv.className = 'form-check';

                const optionInput = document.createElement('input');
                optionInput.type = 'radio';
                optionInput.name = `question${index}`;
                optionInput.value = i;
                optionInput.className = 'form-check-input';

                const optionLabel = document.createElement('label');
                optionLabel.className = 'form-check-label';
                optionLabel.innerText = option;

                optionDiv.appendChild(optionInput);
                optionDiv.appendChild(optionLabel);
                optionsContainer.appendChild(optionDiv);

            });

            questionContainer.appendChild(questionImage);
            questionContainer.appendChild(questionTitle);
            questionContainer.appendChild(optionsContainer);
            form.appendChild(questionContainer);
        });
    }

    function submitQuiz() {
        let score = 0;
        questions.forEach((q, index) => {
            const selectedOption = document.querySelector(`input[name="question${index}"]:checked`);
            if (selectedOption && parseInt(selectedOption.value) === q.answer) {
                score++;
            }
        });

        const percentage = (score / questions.length) * 100;
        let level = '';

        if (percentage >= 62) {
            level = 'Intermediate';
        } else if (percentage >= 42) {
            level = 'Pre-Intermediate';
        } else {
            level = 'Elementary';
        }

        document.getElementById('result').innerText = `Sizning Bilgan Foizingiz ${percentage}%. Sizning Darajangiz: ${level}.`;
    }

    document.addEventListener('DOMContentLoaded', loadQuestions);


</script>

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="jsDa/jquery-3.4.1.minDa.js"></script>
  <!-- popper jslar -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <!-- bootstraplar jslar -->
  <script src="jsDa/bootstrapDa.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!--  OwlCarousel 2 - Filter -->
  <script src="https://huynhhuynh.github.io/owlcarousel2-filter/dist/owlcarousel2-filter.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
  <!-- custom jslar -->
  <script src="jsDa/customDa.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

</body>

</html>