<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education Meeting HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/vendorlar/bootstraplar/csslar/bootstrap.minlar.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../static/assetslar/csslar/fontawesomelar.css">
    <link rel="stylesheet" href="../../static/assetslar/csslar/templatemo-edu-meetinglar.css">
    <link rel="stylesheet" href="../../static/assetslar/csslar/owllar.css">
    <link rel="stylesheet" href="../../static/assetslar/csslar/lightboxlar.css">
    <!--

    TemplateMo 569 Edu Meeting

    https://templatemo.com/tm-569-edu-meeting

    -->
</head>

<body>

<!-- Sub Header -->
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p><em></em></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="https://www.instagram.com/pdp.school?igsh=azdxMzA4Zjc4bXF1"><i
                                class="fa fa-instagram"></i></a></li>
                        <li><a href="https://youtube.com/@pdpmaktabi?si=6CCfc7V4xcI-lkpX"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li><a href="https://school.pdp.uz/"><i class="fa fa-google"></i></a></li>
                        <li><a href="https://t.me/pdpmaktabi"><i class="fa fa-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="class.html" class="logo">
                        SINFLAR RO'YHATI
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a
                                href="../Asosiy/templatemo_557_grad_school/index.html">ASOSIY</a></li>
                        <li class="scroll-to-section"><a href="../Haqidalar/Haqida.html">HAQIDA</a></li>
                        <li class="scroll-to-section"><a href="class.html" class="active">SINFLAR</a></li>
                        <li class="scroll-to-section"><a href="#">ONLINE KURSLAR</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)"></a>
                            <ul class="sub-menu">
                                <li><a href="It.html">IT BO'YICHA</a></li>
                                <li><a href="../PDPC/Ingliz.html">INGILIZ TILI BO'YICHA</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="../Asosiy/templatemo_557_grad_school/Testlar.html">TESTLAR </a>
                        </li>
                        <li class="scroll-to-section"><a href="#">YORDAMCHI BOT</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="../../static/assetslar/imageslar/course-video.mp4" type="video/mp4"/>
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">
                        <h6>ASSALOMU ALAYKUM</h6>
                        <h2>PDP MAKTABINING SINFLAR BO'LIMI</h2>
                        <p>Sinflar Bo'limida PDP Maktabining 5-11 Sinfgacha Bo'lgan O'quvchilarni Maktab, Sinf Bo'yicha
                            Natijalarini Ko'rishingiz Mumkin </p>
                        <h6>NATIJALAR NIMANI EVAZIGA OSHADI ?</h6>
                        <div class="main-button-red">
                            <div class="scroll-to-section"><a href="../Haqidalar/Haqida.html">Shu Haqida</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel">
                    <div class="item">
                        <div class="icon">
                            <img src="https://png.pngtree.com/png-clipart/20210321/original/pngtree-letter-5-gold-png-image_6122597.png"
                                 alt="">
                        </div>
                        <div class="down-content">
                            <h1><a href="../PDPC/5A.html">A</a> <a href="../PDPC/5B.html">B</a> <a
                                    href="../PDPC/5C.html">C</a> <a href="../PDPC/5D.html">D</a></h1>
                            <h4>SINFLAR </h4>
                            <p>O'z Sinifinggizga Kirib Natijalaringgizni Ko'rishinggiz Mumkin</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="https://static.vecteezy.com/system/resources/thumbnails/010/885/815/small_2x/3d-number-6-mental-yellow-free-png.png"
                                 alt="">
                        </div>
                        <div class="down-content">
                            <h1><a href="../PDPC/6A.html">A</a> <a href="../PDPC/6B.html">B</a> <a
                                    href="../PDPC/6C.html">C</a> <a href="../PDPC/6D.html">D</a></h1>
                            <h4>SINFLAR </h4>
                            <p>O'z Sinifinggizga Kirib Natijalaringgizni Ko'rishinggiz Mumkin</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="https://static.vecteezy.com/system/resources/previews/011/297/455/non_2x/number-7-gold-png.png"
                                 alt="">
                        </div>
                        <div class="down-content">
                            <h1><a href="../PDPC/7A.html">A</a> <a href="../PDPC/7B.html">B</a> <a
                                    href="../PDPC/7C.html">C</a> <a href="../PDPC/7D.html">D</a></h1>
                            <h4>SINFLAR </h4>
                            <p>O'z Sinifinggizga Kirib Natijalaringgizni Ko'rishinggiz Mumkin</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="https://pnghq.com/wp-content/uploads/number-8-png-926-download-52469-346x400.png"
                                 alt="">
                        </div>
                        <div class="down-content">
                            <h1><a href="../PDPC/8A.html">A</a> <a href="../PDPC/8B.html">B</a> <a
                                    href="../PDPC/8C.html">C</a> <a href="../PDPC/8D.html">D</a></h1>
                            <h4>SINFLAR </h4>
                            <p>O'z Sinifinggizga Kirib Natijalaringgizni Ko'rishinggiz Mumkin</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="https://static.vecteezy.com/system/resources/previews/011/287/807/non_2x/golden-number-9-png.png"
                                 alt="">
                        </div>
                        <div class="down-content">
                            <h1><a href="../PDPC/9A.html">A</a> <a href="../PDPC/9B.html">B</a> <a
                                    href="../PDPC/9C.html">C</a> <a href="../PDPC/9D.html">D</a></h1>
                            <h4>SINFLAR </h4>
                            <p>O'z Sinifinggizga Kirib Natijalaringgizni Ko'rishinggiz Mumkin</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="https://t4.ftcdn.net/jpg/05/39/63/21/360_F_539632182_4ELbwywOK6eqCfyni0lmNAdfLkCytdRX.webp"
                                 alt="">
                        </div>
                        <div class="down-content">
                            <h1><a href="../PDPC/10A.html">A</a> <a href="../PDPC/10B.html">B</a> <a
                                    href="../PDPC/10C.html">C</a> <a href="../PDPC/10D.html">D</a></h1>
                            <h4>SINFLAR </h4>
                            <p>O'z Sinifinggizga Kirib Natijalaringgizni Ko'rishinggiz Mumkin</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="https://t4.ftcdn.net/jpg/05/39/63/21/360_F_539632182_4ELbwywOK6eqCfyni0lmNAdfLkCytdRX.webp"
                                 alt="">
                        </div>
                        <div class="down-content">
                            <h1><a href="../PDPC/10A.html">A</a> <a href="../PDPC/10B.html">B</a> <a
                                    href="../PDPC/10C.html">C</a> <a href="../PDPC/10D.html">D</a></h1>
                            <h4>SINFLAR </h4>
                            <p>O'z Sinifinggizga Kirib Natijalaringgizni Ko'rishinggiz Mumkin</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="../../static/vendorlar/jquerylar/jquerylar.min.js"></script>
<script src="../../static/vendorlar/bootstraplar/jslar/bootstrap.bundle.min.js"></script>

<script src="../../static/assetslar/jslar/isotopelar.min.js"></script>
<script src="../../static/assetslar/jslar/owl-carousellar.js"></script>
<script src="../../static/assetslar/jslar/lightboxlar.js"></script>
<script src="../../static/assetslar/jslar/tabslar.js"></script>
<script src="../../static/assetslar/jslar/videolar.js"></script>
<script src="../../static/assetslar/jslar/slick-sliderlar.js"></script>
<script src="../../static/assetslar/jslar/customlar.js"></script>
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
        var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $('body, html').animate({
                        scrollTop: reqSectionPos
                    },
                    800);
        } else {
            $('body, html').scrollTop(reqSectionPos);
        }

    };

    var checkSection = function checkSection() {
        $('.section').each(function () {
            var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').siblings().removeClass('active');
            }
        });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
        checkSection();
    });
</script>
</body>

</body>
</html>