<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education - List of Meetings</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/vendorlar/bootstraplar/csslar/bootstrap.minlar.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../static/assetslar/csslar/fontawesomelar.css">
    <link rel="stylesheet" href="../../static/assetslar/csslar/templatemo-edu-meetinglar.css">
    <link rel="stylesheet" href="../../static/assetslar/csslar/owllar.css">
    <link rel="stylesheet" href="../../static/assetslar/csslar/lightboxlar.css">
    <!--

    TemplateMo 569 Edu Meeting

    https://templatemo.com/tm-569-edu-meeting

    -->
</head>

<body>


<!-- Sub Header -->
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p><em></em></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="https://www.instagram.com/pdp.school?igsh=azdxMzA4Zjc4bXF1"><i
                                class="fa fa-instagram"></i></a></li>
                        <li><a href="https://youtube.com/@pdpmaktabi?si=6CCfc7V4xcI-lkpX"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li><a href="https://t.me/pdpmaktabi"><i class="fa fa-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="class.html" class="logo">
                        PDP RESULTS
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="../Asosiy/templatemo_557_grad_school/index.html">ASOSIYGA</a></li>
                        <li><a href="class.html">SINFLAR</a></li>
                        <li><a href="../PDPC/Ustozlar.html">UZTOZLARIM</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">ONLINE KURSLAR</a>
                            <ul class="sub-menu">
                                <li><a href="It.html" class="active">IT</a></li>
                                <li><a href="../PDPC/Ingliz.html">INGILIZ TILI</a></li>
                            </ul>
                        </li>
                        <li><a href="../NatijalarUz/signin.html">NATIJALARIM</a></li>
                        <li><a href="../NatijalarUz/signin.html">PROFILIM</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</section>

<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="filters">
                            <ul>
                                <li data-filter="*" class="active">PYTHON</li>
                                <li data-filter=".soon">JAVASCRIPT</li>
                                <li data-filter=".imp">C+</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row grid">
                            {% for lesson in lessons %}
                            <div class="col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <div class="price">
                                        </div>
                                        <a href="{{ lesson.link }}"><img
                                                src="{{ lesson.images.url }}" alt=""></a>
                                    </div>
                                    <div class="down-content">
                                        <div class="date">
                                            <h6>DARS<span>{{ lesson.numbers }}</span></h6>
                                        </div>
                                        <a href="meeting-details.html"><h4>{{ lesson.title }}</h4></a>
                                        <p>{{ lesson.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="pagination">
                            <ul>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Mualliflik huquqi © 2024 PDP School Tomonidan Barcha huquqlar himoyalangan.
            <br>Dizayn: <a href="https://t.me/Dio_Timmee085" target="_parent" title="website templates">A.DIYORBEK</a>
            <a href="https://t.me/Musharrafme" target="_parent" title="website templates">I.MUSHARRAF</a></p>
    </div>
</section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="../../static/vendorlar/jquerylar/jquerylar.min.js"></script>
<script src="../../static/vendorlar/bootstraplar/jslar/bootstrap.bundle.min.js"></script>

<script src="../../static/assetslar/jslar/isotopelar.min.js"></script>
<script src="../../static/assetslar/jslar/owl-carousellar.js"></script>
<script src="../../static/assetslar/jslar/lightboxlar.js"></script>
<script src="../../static/assetslar/jslar/tabslar.js"></script>
<script src="../../static/assetslar/jslar/isotopelar.js"></script>
<script src="../../static/assetslar/jslar/videolar.js"></script>
<script src="../../static/assetslar/jslar/slick-sliderlar.js"></script>
<script src="../../static/assetslar/jslar/customlar.js"></script>
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
        var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $('body, html').animate({
                        scrollTop: reqSectionPos
                    },
                    800);
        } else {
            $('body, html').scrollTop(reqSectionPos);
        }

    };

    var checkSection = function checkSection() {
        $('.section').each(function () {
            var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').siblings().removeClass('active');
            }
        });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
        checkSection();
    });
</script>
</body>


</body>

</html>
